body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 1.5rem;
}

#word-container {
  margin-bottom: 1.5rem;
}

#guesses-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

#guesses-container p {
  margin-right: 0.5rem;
  font-weight: bold;
}

#options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#options-container h3 {
  margin-bottom: 1rem;
}

#options-container button {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

#options-container button:hover {
  background-color: #e0e0e0;
}

#options-container button.active,
#options-container button:active {
  background-color: lightgreen;
}

#options-container button.disabled,
#options-container button:disabled {
  background-color: #efefef;
  color: #808080;
  cursor: default;
}
