* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: gray;
  overflow: hidden;
}

.book {
  position: absolute;
  left: 600px;
  width: 400px;
  height: 550px;
  transition: transform 0.5s;
}
.buttons {
  position: fixed;
  bottom: 41px;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1000px;
}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid gray;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}
/* CSS Code */
/* Heading */

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 52px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
}

/* Reset Button */
#but {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid dodgerblue;
  margin: auto;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Player turn space */
#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: dodgerblue;
  font-size: 20px;
}

/* Main Container */
#main {
  text-align: center;
}
.tictactoetext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* Game Instruction Text */
#ins {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: dodgerblue;
  font-size: 17px;
}

#som-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.som-box-container {
  width: auto;
  height: auto;
  background-color: #5adbff;
  padding: 50px;
  border-radius: 20px;
  z-index: 1;
  border: solid 3px #000;
  box-shadow: 4px 6px;
}

#startgame {
  background-color: #fe9000;
  padding: 6px;
  border-radius: 9px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ba1f33;
}

#startgame:hover {
  cursor: pointer;
}

#score {
  color: #fe9000;
}

#scorevalue {
  color: #fe9000;
}

#timeremaining {
  color: #fe9000;
}

#timeremainingvalue {
  color: #fe9000;
}

#correct {
  color: green;
  position: absolute;
  top: 250px;
  z-index: -1;
}

#wrong {
  color: red;
  position: absolute;
  top: 250px;
  left: 780px;
}

#question {
  font-size: 20px;
}

#choices {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

#box1,
#box2,
#box3,
#box4 {
  width: 20px;
  height: 20px;
  background-color: chocolate;
}

#box1,
#box2,
#box3,
#box4:hover {
  cursor: pointer;
}

#gameover {
  color: #fe9000;
  font-size: 50px;
  position: absolute;
  top: 250px;
  left: 300px;
  z-index: 1;
}
